@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

@font-face {
  font-family: 'Google Sans';
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  src: local('Google Sans');
}

@font-face {
  font-family: 'Libre Baskerville';
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
  src: local('Libre Baskerville');
}

@font-face {
  font-family: 'Bricolage Grotesque';
  font-weight: 200 800;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
  src: local('Bricolage Grotesque');
}

:root {
  --font-google: 'Google Sans', sans-serif;
  --font-libre: 'Libre Baskerville', serif;
  --font-bricolage: 'Bricolage Grotesque', sans-serif;
}