/* Header global */
.navbar-header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  z-index: 1000;
  
  transition: background-color 0.4s ease, border-color 0.4s ease, box-shadow 0.4s ease, color 0.4s ease;
  
  background-color: #050810;
  backdrop-filter: blur(12px) saturate(180%);
  -webkit-backdrop-filter: blur(12px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.108);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.08);
}

.navbar-header.scrolled {
  background-color:  rgba(255, 255, 255, 0.166);
}

/* Contenedor principal */
.navbar-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

/* Logo */
.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

/* Menú Desktop */
.navbar-menu-desktop {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-link {
  color: #718d4c;
  text-decoration: none;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 400;
  transition: color 0.2s ease;
}

/* .navbar-link:hover {
  color: #36540e;
  transition: color weight 0.2s ease-in-out;
} */

/* Botón Hamburguesa */
.navbar-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #374151;
  padding: 0;
}

/* Menú Móvil */
.navbar-menu-mobile {
  list-style: none;
  margin: 0;
  padding: 1rem;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.navbar-link-mobile {
  display: block;
  padding: 0.5rem 0.75rem;
  color: #374151;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
}

.navbar-link-mobile:hover {
  background-color: #f3f4f6;
  color: #2563eb;
}

.logo-qq {
  max-width: 2.5rem;
}

/*Text Reveal Precision Styling*/

/* Padre del enlace */
.text-reveal-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  overflow: hidden;
  vertical-align: middle;
}

/* Envoltorio que limita la altura */
.text-reveal-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

/* Estilo individual de cada línea de texto */
.text-reveal-item {
  display: block;
  line-height: 1.2;
  padding: 2px 0; /* Espaciado de seguridad para letras descendentes como p, g, y */
}

/* El clon se posiciona encima en la misma coordenada top/left */
.text-reveal-clone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Reglas Responsive */
@media (max-width: 768px) {
  .navbar-menu-desktop {
    display: none;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-menu-mobile {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
  }
}